.homeContainer {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cityTitleContainer {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.cityTitle {
    font-size: 4rem;
    color: rgb(30, 32, 44);
}

.mainTitle {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.addToFavContainer{
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.backImage {
    position: absolute;
    z-index: -1;
    opacity: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    left: 0;
}

.addToFav {
    width: 30px;
    height: 30px;
    cursor: pointer;
    stroke: skyblue;
    stroke-width:10 ;
    filter: invert(11%) sepia(24%) saturate(572%) hue-rotate(194deg) brightness(20%) contrast(98%);

}
.addToFav:hover{
    opacity: 0.8;
}