.menuContainer {
    width: calc(100% - 16px);
    height: 70px;
    padding: 8px;
    display: flex;
    align-items: center;

}

.lightSearch {
    color: rgb(30, 32, 44);
    border: 1px solid rgb(30, 32, 44);

}

.blackSearch {
    color: white !important;
    border: 1px solid white;
}

.MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

.searchContainer {
    width: calc(30% + 50px);
    display: flex;
}

.favButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    width: 10%;
    cursor: pointer;
}

.favButtonContainer:hover {
    opacity: 0.8;
}

.favTitle {
    font-size: 1rem;
}

.favIcon {
    margin-right: 8px;
    width: 15px;
    height: 15px;
}

.imgSearch {
    width: 50px;
    height: 50px;
}

.menuTitle {
    text-align: right;
    font-size: 1.8rem;
    padding-right: 20px;

}

.searches {
    color: #52188c;
}

.subMenu {
    width: calc(80% - 20px);
    align-items: center;
    display: flex;
    justify-content: center;
}

.darkWrite {
    color: white;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -12px) scale(0.75) !important;
}

.MuiInputLabel-outlined {
    color: #585757 !important;

}

@media only screen and (max-width: 950px) {
    .menuTitle {
        font-size: 0;
    }

    .subMenu {
        position: absolute;
        top: 80px;
        width: 90%;
    }

    .searchContainer {
        flex: 1;
    }

    .favButtonContainer {
        min-width: 20%;
        width: fit-content;
    }

    h1, h2 {
        margin: 0;
    }
}

